
  .highlights, textarea {
    padding: 10px;
    font: 20px/28px 'Open Sans', sans-serif;
    letter-spacing: 1px;
  }
  
 
  .backdrop {
    position: absolute;
    z-index: 1;
    border: 2px solid #685972;
    background-color: #fff;
    // overflow: auto;
    pointer-events: none;
    transition: transform 1s;
  }
  
  .highlights {
      white-space: pre-wrap;
      word-wrap: break-word;
    //   color: transparent;
  }
  
  mark {
    border-radius: 3px;
    // color: transparent;
    background-color: #b1d5e5;
  }